html {
    overflow-y: scroll;
}
  
.header-container {
    background: #999;
    padding: 20px;
    border-bottom:3px solid black;
}

.header {
    display: inline;
}

h1.header {
    font-weight: bold;
    margin: 0 0 0 20px;
}

h3.header {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 600;
}

h3.header a:hover {
    list-style-type: none;
    color: black;
    background-color: #e9ebe4;
}

a {
    color: black;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#liheader {
    display: inline;
    padding: 5px;
}

li a:hover {
    color: black;
    background-color: #e9ebe4;
}

a:link {
    text-decoration: none;
}


.wrapper {
    max-width: 960px;
    margin: 0% auto;

}


.content-container  {
    padding: 10px;
    height: 100px;
    
}

.left {
    float: left;
    text-align: left;
    width: 25%;
    
}

.right {
    float: left;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 70%;
  }

.boxmodelright {
    width: 75%;
    float: right;
}

li {
    margin: 0px;
}

p {
    margin-bottom: 10px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


