body {
    background: #74a4f2;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    
}

header {
    background: #3875d8;
}

header h1 {
    font-size: 50px;
    margin: 1%;
    display: inline;
}

nav ul {
    margin: 0%;
    padding:25px 30px;
    display: inline;
}

nav ul li {
    color: black;
}

li a {
    color: black;
    text-decoration: none;
}

h1, li {
    color: black;
}

header nav ul li {
    font-size: 20px;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    margin: 0%;
}

.hoverable:hover {
    color: white;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

.boxmodelcontainer .boxmodel {
    display: inline-block;

}


